
name: Publish NuGet package

on:
  workflow_dispatch:

permissions:
  contents: read
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Build project (generate sources)
        run: mvn generate-sources

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build
        run: |
          cd target/generated-sources/csharp/src/IFPEN.AllotropeConverters
          dotnet build -c Release
      

      - name: Pack
        run: |
          cd target/generated-sources/csharp/src/IFPEN.AllotropeConverters
          dotnet pack -c Release -o ../../nupkg


      - name: NuGet login (Trusted Publishing)
        uses: NuGet/login@v1
        id: nuget-login
        with:
          user: mvisconte


      - name: Push to nuget.org
        run: |
          dotnet nuget push "target/generated-sources/csharp/nupkg/*.nupkg" \
          --api-key ${{ steps.nuget-login.outputs.nuget-api-key }} \
          --source https://api.nuget.org/v3/index.json

